@media (max-width: 576px) {
}
/* TABLET - 577px do 992px */
@media (min-width: 577px) and (max-width: 992px) {
    #me2{
        height: 100%;
    }
    .box{
        height: 100%;
    }
    .card-text{
        font-size: 14px;
    }
    .Skilss{
        margin:24 0px;
    }
}
/* DESKTOP - 993px i više */
@media (min-width: 993px) {
    .bel{
        font-size: 14px;
    }
    
}